/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 10px;
}

body {
  background-color: #1d2022;
}

// MATERIAL OVERRIDES

app-surface {
  .mat-mdc-form-field-hint-wrapper {
    padding: 0;
    mat-hint {
      color: #eee;
    }
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .mat-mdc-form-field-focus-overlay {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
